/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

/* CUSTOM PROPS */

:root {
	--text-color: #2a4144;
	--green-color: #0c7d69;
	--bg-color: #e0f1e8;
	--input-border-color: #86a2a5;
}
html {
	box-sizing: border-box;
	height: 100%;
	scroll-behavior: smooth;
	font-size: 16px;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	display: flex;
	flex-direction: column;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: "Karla", Arial, sans-serif;
	font-size: 1rem;
	line-height: 1.5;
	background-color: var(--bg-color);
	color: var(--text-color);
}

img {
	max-width: 100%;
	height: auto;
}

/* VISUALLY-HIDDEN */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

/* AUTOFILL COLORS
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: transparent;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}  */

/* PLACEHOLDER COLOR
::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: rgba(52, 49, 61, 0.5);
}  */

/* CONTAINER */

.container {
	width: 100%;
	max-width: 800px;
	padding: 32px 10px;
	margin-left: auto;
	margin-right: auto;
}

/* MAIN CONTENT */
.main-content {
	flex-grow: 1;
}

/* RETINA BACKGROUNDS */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min--moz-device-pixel-ratio: 2),
	only screen and (-o-min-device-pixel-ratio: 2/1),
	only screen and (min-device-pixel-ratio: 2),
	only screen and (min-resolution: 192dpi),
	only screen and (min-resolution: 2dppx) {
}

.form {
	padding: 1.5rem;
	display: flex;
	flex-direction: column;
	gap: 40px;
	background-color: #fff;
	border-radius: 16px;
}
/* .form__top {
} */
.form-heading {
	letter-spacing: -1px;
	text-transform: capitalize;
	margin-top: 0;
	margin-bottom: 32px;
}

.form__inputs {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.row {
	display: flex;
	flex-direction: column;
	gap: 24px;
}
.label {
	margin-bottom: 0.5rem;
}

/* .form__inputs-fname input {
	width: 100%;
} */

.label + input {
	width: 100%;
	padding: 12px 24px;
	border-radius: 8px;
	border: 1px solid var(--input-border-color);
	color: var(--text-color);
	font-size: 1.125rem;
	outline: none;
	cursor: pointer;
}

.label + input:hover {
	border-color: var(--green-color);
}
.label + input:focus {
	border-color: var(--green-color);
}

/* .form__inputs-lname {
} */

/* .form-inputs__email {
} */

.form-inputs__queries {
}
.queries {
}
.queries__row {
	gap: 16px;
}
.queries__row label {
	display: flex;
	align-items: center;
	gap: 12px;
	cursor: pointer;
}
.queries__type input {
	display: none;
}

.queries__type {
	padding: 12px 24px;
	border: 1px solid var(--input-border-color);
	border-radius: 8px;
	cursor: pointer;
}
.queries__type:hover {
	border-color: var(--green-color);
}

.queries__type:has(input:checked) {
	background-color: var(--bg-color);
	border-color: var(--green-color);
}

/* Custom radio */

.custom-radio {
	display: inline-block;
	width: 20px;
	height: 20px;
	border: 2px solid var(--input-border-color);
	border-radius: 50%;
	position: relative;
	flex-shrink: 0;
}

.custom-radio::after {
	display: inline-block;
	content: "";
	position: absolute;
	inset: 4px;
	border-radius: 50%;
	background: transparent;
	transition: 0.2s;
}

.queries__type input:checked + .custom-radio {
	border-color: var(--green-color);
}

.queries__type input:checked + .custom-radio::after {
	background: var(--green-color);
}

/* Textarea */

.form-inputs__textarea {
	display: flex;
	flex-direction: column;
}

.form-inputs__textarea textarea {
	outline: none;
	border-radius: 8px;
	border: 1px solid var(--input-border-color);
	padding: 12px 24px;
	color: var(--text-color);
	font-size: 1.125rem;
	line-height: 150%;
	resize: vertical;
}

textarea:hover,
textarea:focus {
	border-color: var(--green-color);
}

/* Checkbox */

.form__checkbox label {
	display: flex;
	align-items: center;
	margin: 0;
	gap: 19px;
}

.custom-checkbox {
	flex-shrink: 0;
}

/* Custom checkbox */

/*===== Custom checkbox =====*/

/* hide default checkbox */
.form__checkbox input {
	display: none;
}

/* square box */
.custom-checkbox {
	width: 18px;
	height: 18px;
	border: 2px solid #86a2a5;
	border-radius: 2px;
	transition: 0.2s;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* check icon */
.custom-checkbox::after {
	content: "✓";
	color: white;
	font-size: 10px;
	font-weight: bold;
	display: none;
}

/* when checked */
.form__checkbox input:checked + .custom-checkbox {
	background: #1b7f68;
	border-color: #1b7f68;
}

.form__checkbox input:checked + .custom-checkbox::after {
	display: block;
}

/* Button */

.btn {
	font-style: 1.125rem;
	font-size: 18px;
	color: #fff;
	font-weight: bold;
	line-height: 1.5;
	padding: 16px;
	border: none;
	border-radius: 8px;
	background-color: var(--green-color);
	cursor: pointer;
}

.btn:hover {
	background-color: #0b0b43;
}
.btn:active {
	background-color: var(--green-color);
}

/* Media queries */

@media screen and (min-width: 768px) {
	.form {
		padding: 40px;
	}

	.row {
		flex-direction: row;
		gap: 16px;
	}

	.row div {
		width: 50%;
	}
}
