/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

/* CUSTOM PROPS */

:root {
	--text-color: #2a4144;
	--green-color: #0c7d69;
	--bg-color: #e0f1e8;
}

html {
	box-sizing: border-box;
	height: 100%;
	scroll-behavior: smooth;
	font-size: 16px;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	display: flex;
	flex-direction: column;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: "Karla", Arial, sans-serif;
	font-size: 1rem;
	line-height: 1.5;
	background-color: var(--bg-color);
	color: var(--text-color);
}

img {
	max-width: 100%;
	height: auto;
}

/* VISUALLY-HIDDEN */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

/* AUTOFILL COLORS
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: transparent;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}  */

/* PLACEHOLDER COLOR
::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: rgba(52, 49, 61, 0.5);
}  */

/* CONTAINER */

.container {
	width: 100%;
	/* max-width: 1200px; */
	padding: 32px 16px;
	margin-left: auto;
	margin-right: auto;
}

/* MAIN CONTENT */
.main-content {
	flex-grow: 1;
}

/* RETINA BACKGROUNDS */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min--moz-device-pixel-ratio: 2),
	only screen and (-o-min-device-pixel-ratio: 2/1),
	only screen and (min-device-pixel-ratio: 2),
	only screen and (min-resolution: 192dpi),
	only screen and (min-resolution: 2dppx) {
}

/* .wrapper {
	max-width: 650px;
	margin: auto;
} */

.contact-form {
	background: #fff;
	padding: 24px;
	border-radius: 16px;
}

.contact-form__title {
	margin-top: 0;
	margin-bottom: 2rem;
	font-size: 2rem;
	letter-spacing: -1px;
}

/* fields */
.field {
	display: flex;
	flex-direction: column;
	margin-bottom: 1.5rem;
}

label {
	margin-bottom: 0.5rem;
}

input,
textarea {
	width: 100%;
	padding: 12px 24px;
	border-radius: 8px;
	border: 1px solid #86a2a5;
	font-size: 1.125rem;
	color: var(--text-color);
	outline-width: 1px;
	outline: none;
}

input:hover,
textarea:hover {
	border-color: var(--green-color);
	cursor: pointer;
}

.field:has(.input:focus, textarea:focus) {
	border-color: var(--green-color);
}

textarea {
	resize: vertical;
}

.field-textarea {
	margin-bottom: 40px;
}
/* radio group */
.radio-group {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.radio-group label {
	margin: 0;
}

.radio-box {
	display: flex;
	align-items: center;
	gap: 12px;
	border: 1px solid #86a2a5;
	padding: 12px 24px;
	border-radius: 8px;
	cursor: pointer;
}

.radio-box input {
	width: auto;
}

.radio-box span {
	font-size: 1.125rem;
	/* flex-grow: 1; */
}

.radio-box:has(input:checked) {
	background-color: var(--bg-color);
	border-color: var(--green-color);
}

/* Custom radio */

.radio-box input {
	display: none;
}

.radio-custom {
	width: 20px;
	height: 20px;
	border: 2px solid #86a2a5;
	border-radius: 50%;
	position: relative;
	flex-shrink: 0;
}

.radio-custom::after {
	content: "";
	position: absolute;
	inset: 4px;
	border-radius: 50%;
	background: transparent;
	transition: 0.2s;
}

.radio-box input:checked + .radio-custom {
	border-color: var(--green-color);
}

.radio-box input:checked + .radio-custom::after {
	background: var(--green-color);
}

/* checkbox */
.checkbox {
	display: flex;
  align-items: center;
	gap: 8px;
	font-size: 14px;
	margin-bottom: 18px;
}

.checkbox input {
	width: auto;
}

/*===== Custom checkbox =====*/

/* hide default checkbox */
.checkbox input {
	display: none;
}

/* square box */
.custom-checkbox {
	width: 22px;
	height: 22px;
	border: 2px solid #86a2a5;
	border-radius: 6px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.2s;
  flex-shrink: 0;
}

/* check icon */
.custom-checkbox::after {
	content: "✓";
	color: white;
	font-size: 14px;
	font-weight: bold;
	display: none;
}

/* when checked */
.checkbox input:checked + .custom-checkbox {
	background: #1b7f68;
	border-color: #1b7f68;
}

.checkbox input:checked + .custom-checkbox::after {
	display: block;
}

/* button */
button {
	width: 100%;
	background: #1b7f68;
	color: white;
	padding: 14px;
	border: none;
	border-radius: 8px;
	font-weight: 600;
	cursor: pointer;
}

button:hover {
	opacity: 0.9;
}

/* =========================
   Desktop (Flexbox only)
   ========================= */

@media (min-width: 768px) {
	/* first + last name side by side */
	.two {
		display: flex;
		gap: 16px;
	}

	.two .field {
		flex: 1;
	}
  .radio-group label {
    flex-grow: 1;
  }
	/* radio side by side */
	.radio-group {
		flex-direction: row;
	}
}
